body{
    margin: 0px;
    font-family: 'Roboto';
}
body{
    background-color: rgb(148, 253, 244);
}
h1{
    font-size: 40px;
}
.angel_safa{
    color: blue;
}
.mama_toi{
    color: deeppink;
}
.mama{
    color: fuchsia;
}
.nana{
    color: firebrick;
}
h3{
    color: maroon;
}
p{
    color: indigo;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 1%;
    padding-left: 2%;
    padding: 20px;
}
.half-width img{
    width: 410px;
    height: 420px;
    padding-left: 48%;
    padding-top: 3%;
}
.link_button{
   text-decoration: none;
   background-color: rgb(248, 75, 147);
   padding: 10px 20px;
   border-radius: 6px;
   color: oldlace;
   font-weight: bold;
}
.width img{
    height: 480px;
    width: 650px;
    margin-bottom: 6%;
}
.width p{
    font-size: 30px;
   color: purple;
    padding-left: 14%;
    font-weight: bold;
   
}
.tata p{
    color: purple;
    font-size: 24px;
    padding-left: 80%;
    font-weight: bold;
}
.tomar_mind{
    width: 45%;
    float: left;
    margin-left: 1%;
    padding-left: 2%;
    padding: 20px;
}
center h1{
    color: rgb(207, 62, 195);
    background-color: lightcoral;
}
h2{
    color: lightcoral;
}
.tomar_mind{
    box-shadow: 12px 12px 40px grey;
    border-radius: 20px;
}
h1{
    color: indigo;
}
footer{
    text-align: center;
    font-size: 40px;
    color: mediumblue;
    margin: 20px 20px;
}